 <!-- <section class="section">
        <div class="container">
          <h2 class="title clients">Постійні клієнти</h2>
          <ul class="clients-list list">
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo1"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo2"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo3"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo4"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo5"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="" class="btn-clients">
                <svg class="btn-icon">
                  <use href="./images/icons.svg#logo6"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </section> -->
      