<footer>
  <div class="container">
    <ul class="footer-section">
      <div class="footer-item768">
        <li class="footer-item">
          <a href="./" class="logo logo--wite">
            <span class="logo__web">Автовикуп</span>Баришівка
          </a>
          <address>
            <ul class="footer-list">
              <li>
                <p>
                  <a
                    class="contacts-address-link link"
                    href="https://goo.gl/maps/Whi3kpQW1DZDu8uF7"
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    >Баришівка, центр коло ларька<br />
                    Київська обл., 07501</a
                  >
                </p>
              </li>
              <li style="display: none">
                <a href="mailto:info@devstudio.com" class="info link"
                  >info@devstudio.com</a
                >
              </li>
              <li>
                <a href="tel:+380961111111" class="info link"
                  >+38 063 637 11 75</a
                >
              </li>
            </ul>
          </address>
        </li>
        <li class="footer-item">
          <div class="footer-social">
            <h3 class="footer-title">приєднуйтесь</h3>
            <ul class="soc list">
              <li class="soc__item item">
                <a href="" class="soc__link soc__link--wite">
                  <svg class="soc__icon">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="soc__item item">
                <a href="" class="soc__link soc__link--wite">
                  <svg class="soc__icon">
                    <use href="./images/icons.svg#icon-telegram1"></use>
                  </svg>
                </a>
              </li>
              <li class="soc__item item">
                <a href="" class="soc__link soc__link--wite">
                  <svg class="soc__icon">
                    <use href="./images/icons.svg#icon-viber"></use>
                  </svg>
                </a>
              </li>
              <li class="soc__item item">
                <a href="" class="soc__link soc__link--wite">
                  <svg class="soc__icon">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </div>
      <li class="footer-item">
        <div class="footer-form">
          <p class="footer-title">Підпишіться на розсилку</p>
          <form class="footer-field">
            <label for="footer-input"></label>
            <input
              class="footer-input"
              type="email"
              placeholder="E-mail"
              id="footer-input"
              name="footer-input"
            />
            <button type="submit" class="button">
              Підписатися
              <svg class="icon-footer" width="24" height="24">
                <use href="./images/icons.svg#iconsend"></use>
              </svg>
            </button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="copyright">
      <div class="row">
        &copy;
        <a class="border-bottom" href="#">Автовикуп Баришівка</a>, All Right
        Reserved.2023 Designed By
        <a
          class="border-bottom"
          href="https://www.linkedin.com/in/yevhen-hrytsenko-85085796/"
          rel="noopener noreferrer nofollow"
          target="_blank"
          >HrytsenkoEN</a
        >
      </div>
    </div>
  </div>
</footer>
