<div class="border-heder">
    <header class="header">
      <div class="container">
        <nav class="navigation">
          <div class="navigation__logo">
            <a href="./" class="logo logo--black">
              <span class="logo__web">Автовикуп</span>Баришівка
            </a>
          </div>
          <ul class="menu list">
            <li class="menu__item item">
              <a
                href="./index.html"
                class="menu__link link menu__link-current"
                >Головна</a
              >
            </li>
            <li class="menu__item item">
              <a href="" class="menu__link link">Підготовка до продажу</a>
            </li>
            <li class="menu__item item">
              <a href="" class="menu__link link">Контакти</a>
            </li>
          </ul>
        </nav>
        <ul class="connect list">
          <li class="connect__item item" style="display: none;">
            <a class="connect__link link" href="mailto:info@devstudio.com"
              ><svg class="connect__icon" width="16" height="12">
                <use href="./images/icons.svg#envelope"></use>
              </svg>
              info@devstudio.com</a
            >
          </li>
          <li class="connect__item item">
            <a class="connect__link link" href="tel:+380636371175"
              ><svg class="connect__icon" width="10" height="16">
                <use href="./images/icons.svg#smartphone"></use>
              </svg>
              +38 063 637 11 75</a
            >
          </li>
        </ul>
        <button type="button" class="menu__open-btn" data-menu-open>
          <svg class="icon-open-btn" width="40" height="40">
            <use href="./images/icons.svg#menu24px"></use>
          </svg>
        </button>
        <div class="mob-menu is-hidden" data-menu>
          <div class="container">
            <button type="button" class="menu__close-btn" data-menu-close>
              <svg class="icon-close-btn" width="40" height="40">
                <use href="./images/icons.svg#close24px"></use>
              </svg>
            </button>
            <div class="mob-menu-top">
              <ul class="mob-menu-list list">
                <li class="mob-menu__item item">
                  <a
                    href="./index.html"
                    class="mob-menu__link link mob-menu__link-current"
                    >Головна</a
                  >
                </li>
                <li class="mob-menu__item item">
                  <a href="" class="mob-menu__link link"
                    >Підготовка</a
                  >
                </li>
                <li class="mob-menu__item item">
                  <a href="" class="mob-menu__link link">Контакти</a>
                </li>
              </ul>
            </div>
            <div class="mob-menu-bottom">
              <ul class="mob-connect list">
                <li class="mob-connect__item item">
                  <a class="mob-connect__tel link" href="tel:+38 063 637 11 75">
                    +38 063 637 11 75</a
                  >
                </li>
                <li class="mob-connect__item item" style="display: none;">
                  <a
                    class="mob-connect__mail link"
                    href="mailto:info@devstudio.com"
                  >
                    info@devstudio.com</a
                  >
                </li>
              </ul>
              <ul class="mob-soc list">
                <li class="mob-soc__item item">
                  <a href="" class="mob-soc__link">instagram</a>
                </li>
                <li class="mob-soc__item item">
                  <a href="" class="mob-soc__link">twitter</a>
                </li>
                <li class="mob-soc__item item">
                  <a href="" class="mob-soc__link">facebook</a>
                </li>
                <li class="mob-soc__item item">
                  <a href="" class="mob-soc__link">linkedin</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>