<section class="section no-padding">
    <div class="container">
      <h2 hidden>Як це працює</h2>
      <ul class="feature-list">
        <li class="feature-list__element">
          <div class="feature-list__bgd">
            <picture>
              <source
              
              />
              <img src="./images/step1.jpg" alt="mobile phone" />
            </picture>
            <!-- <svg class="feature-list__icon">
              <use href="./images/icons.svg#antenna"></use>
            </svg> -->
          </div>
          <h3 class="title">КРОК 1:</h3>
          <p>
            Ви залишаєте заявку на викуп через просту
            форму на сайті, або ж телефонуйте на 
            будь-який з номерів чи замовте зворотній 
            дзвінок. Експерт-оцінювач під час 
            телефонної розмови поставить пару 
            запитань щодо автомобіля.
          </p>
        </li>
        <li class="feature-list__element">
          <div class="feature-list__bgd">
            <picture>
              <source
              
              />
              <img src="./images/step2.jpg" alt="mobile phone" />
            </picture>
            <!-- <svg class="feature-list__icon">
              <use href="./images/icons.svg#clock"></use>
            </svg> -->
          </div>
          <h3 class="title">КРОК 2:</h3>
          <p>
            Експерт запитає у Вас марку, модель, рік випуску авто, 
            а також попросить Вас надіслати фотографії 
            транспортного засобу. Після чого буде озвучена попередня 
            ціна. Таким чином буде здійснена онлайн-оцінка авто. 
            Якщо ціна влаштує, Вам буде призначена зустріч в 
            зручному для Вас місці.
          </p>
        </li>
        <li class="feature-list__element">
          <div class="feature-list__bgd">
          <picture>
            <source
              
              />
              <img src="./images/step3.jpg" alt="mobile phone" />
            </picture>
            <!-- <svg class="feature-list__icon">
              <use href="./images/icons.svg#diagram"></use>
            </svg> -->
          </div>
          <h3 class="title">КРОК 3:</h3>
          <p>
            При зустрічі буде проведено детальний огляд машини і озвучена 
            остаточна ціна. Якщо під час телефонної розмови Ви не 
            приховали значних мінусів автомобіля – то остаточна ціна 
            буде дуже близька до попередньо озвученої.
          </p>
        </li>
        <li class="feature-list__element">
          <div class="feature-list__bgd">
            <picture>
              <source
                
                />
                <img src="./images/step4.jpg" alt="mobile phone" />
              </picture>
          </div>
          <h3 class="title">КРОК 4:</h3>
          <p>
            Далі – оформлення угоди у нотаріуса, потім необхідні 
            процедури в сервісній центрі МВС і передача грошей. 
            Таким чином протягом кількох годин Ви зможете продати 
            автомобіль в Баришівці і отримати за нього гідні гроші.
          </p>
        </li>
      </ul>
    </div>
  </section>