<div class="section section-form">
  <div class="container form-list__bgd">
    <ul class="form-list">
      <li class="form-list__element">
        <div class="form-item">
          <h2 class="title">
            Заповніть нашу онлайн форму
            для оцінки вашого авто та
            отримайте пропозицію щодо
            його викупу.
          </h2>
          <p>
            Ми з радістю відповімо на
            всі ваші запитання та надамо
            детальну інформацію про наші
            послуги.
          </p>
          <p>
            Дякуємо, що обрали нашу
            компанію для продажу вашого
            авто! Ми з радістю
            допоможемо вам у цьому
            процесі та забезпечимо
            максимальний комфорт для
            вас.
          </p>
        </div>
      </li>
      <li class="form-list__element">

        <div class="form-content form-item">
          <p class="modal-title">Залиште свої дані, ми вам передзвонимо</p>
          <form class="modal-form">
            <div class="form-field">
              <label for="name" class="form-lable">Телефон</label>
              <input class="form-input" type="tel" name="tel" id="tel" />
              <svg class="icon-modal" width="30" height="30">
                <use y="15%" width="20" height="20" href="./images/icons.svg#phoneblack"></use>
              </svg>
            </div>
            <div class="form-field">
              <label for="tel" class="form-lable">Марка</label>
              <input class="form-input" type="brand" name="brand" id="brand" />
              
                <svg class="icon-modal" width="30" height="30">
                  <use x="5%" y="15%" href="./images/icons.svg#icon-travel-car"></use>
                </svg>
              
            </div>
            <div class="form-field">
              <label for="mail" class="form-lable">Модель</label>
              <input class="form-input" type="model" name="model" id="model" />
              <svg class="icon-modal" width="30" height="30">
                <use x="5%" y="15%" href="./images/icons.svg#icon-key"></use>
              </svg>
            </div>
            <div class="form-field">
              <label for="mail" class="form-lable">Ціна</label>
              <input class="form-input" type="price" name="price" id="price" />
              <svg class="icon-modal" width="30" height="30">
                <use x="5%" y="15%" href="./images/icons.svg#icon-currency-dollar"></use>
              </svg>
            </div>
            <div class="form-field">
              <label for="comment" class="form-lable">Коментар</label>
              <textarea
                class="comment"
                name="comment"
                id="comment"
                placeholder="Напишіть те, що ми повинні знати..."
              ></textarea>
            </div>
            <div class="form-field">
            <!-- <span class="text">Прикріпити фото автомобіля</span> -->

            </div>
            <button type="submit" class="button">Продати ласточку</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
