<section class="section section-work">
    <div class="container">
      <h2 class="title work">Чим ми займаємося</h2>
      <ul class="work-list">
        <li class="work-list__element">
          <picture>
            <source
              srcset="
                ./images/carwork/vikup.jpg        1x,
                ./images/carwork/vikup.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img src="./images/carwork/vikup.jpg" alt="algoritm" />
          </picture>
          <div class="work-list__text">
            <h3 class="work-list__title">Терміновий викуп авто</h3>
          </div>
        </li>
        <li class="work-list__element">
          <picture>
            <source
              srcset="
                ./images/carwork/diagnostika.jpg        1x,
                ./images/carwork/diagnostika.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img src="./images/carwork/diagnostika.jpg" alt="mobile phone" />
          </picture>
          <div class="work-list__text">
            <h3 class="work-list__title">Діагностика автомобіля</h3>
          </div>
        </li>
        <li class="work-list__element">
          <picture>
            <source
              srcset="
                ./images/carwork/pidgotovka.jpg        1x,
                ./images/carwork/pidgotovka.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img src="./images/carwork/pidgotovka.jpg" alt="tablet pc" />
          </picture>
          <div class="work-list__text">
            <h3 class="work-list__title">Передпродажна підготовка</h3>
          </div>
        </li>
      </ul>
    </div>
  </section>