<div class="section section-form">
  <div class="container form-list__bgd">
    <ul class="form-list">
      <li class="form-list__element">
        <div class="form-item">
          <h2 class="title">
            Заповніть нашу онлайн форму
            для оцінки вашого авто та
            отримайте пропозицію щодо
            його викупу.
          </h2>
          <p>
            Ми з радістю відповімо на
            всі ваші запитання та надамо
            детальну інформацію про наші
            послуги.
          </p>
          <p>
            Дякуємо, що обрали нашу
            компанію для продажу вашого
            авто! Ми з радістю
            допоможемо вам у цьому
            процесі та забезпечимо
            максимальний комфорт для
            вас.
          </p>
        </div>
      </li>
      <li class="form-list__element">
        <div class="form-item">
          <h2 class="title">
            форма швидкого продажу авто
          </h2>
          <form
            class="modal-form"
            action=""
            method="post"
          >
            <div class="row g-3">
              <div class="form-field">
                <input
                  type="text"
                  class="form-control border-0"
                  name="name"
                  placeholder="Ваше ім'я"
                  style="height: 55px"
                />
              </div>
              <div class="form-field">
                <input
                  type="phome"
                  class="form-control border-0"
                  name="phone"
                  placeholder="телефон"
                  style="height: 55px"
                />
              </div>
              <div class="form-field">
                <input
                  type="text"
                  class="form-control border-0"
                  name="car_make"
                  placeholder="рік випуску"
                  style="height: 55px"
                />
              </div>
              <div class="form-field">
                <div
                  class="text"
                  data-target-input="nearest"
                >
                  <select
                    name="car_model"
                    class="form-select border-0"
                    style="height: 55px"
                  >
                    <option selected>
                      В якому стані
                    </option>
                    <option
                      value="Доглянуте авто"
                    >
                      Доглянуте авто
                    </option>
                    <option
                      value="Робочий кінь"
                    >
                      Робочий кінь
                    </option>
                    <option
                      value="На колінах"
                    >
                      На колінах
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-field">
                <textarea
                  class="form-control border-0"
                  name="car_info"
                  placeholder="Опишіть коротко про авто"
                ></textarea>
              </div>
              <!-- потрібно завантаження фото -->
              <div class="form-field">
                <button
                  class="button"
                  name="submitButton"
                  type="submit"
                >
                  продати ласточку
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
