<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container" id="feedback">
    <div class="text-center">
      <h6 class="text-primary text-uppercase">// Testimonial //</h6>
      <h1 class="mb-5">Відгуки наших клієнтів</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item text-center">
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-3"
          src="./images/testimonial-1.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Client Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Я дуже задоволений роботою компанії авто викупу. Вони були дуже
            професійні та дбайливі під час всього процесу. Оцінка мого
            автомобіля була чесною та адекватною, і вони зробили усе можливе,
            щоб забезпечити швидкий та безпроблемний викуп.
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-3"
          src="./images/testimonial-2.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Client Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Компанія авто викупу надала мені відмінний сервіс. Я не мав жодних
            проблем з продажем мого старого автомобіля. Вони були швидкі та
            ефективні, і я отримав гроші за машину в той же день.
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-3"
          src="./images/testimonial-3.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Client Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Я рекомендую компанію авто викупу всім, хто хоче продати свій
            автомобіль без стресу. Вони допомогли мені з усіма паперовими
            роботами та зробили процес максимально простим. Оцінка мого
            автомобіля була чесною, і я отримав адекватну ціну за нього.
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="bg-light rounded-circle p-2 mx-auto mb-3"
          src="./images/testimonial-4.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Client Name</h5>
        <p>Profession</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Я дуже вдячний компанії авто викупу за їхній професіоналізм та
            допомогу. Їхні співробітники були дуже чуйними до моїх потреб і дали
            мені чудовий сервіс. Я був вражений, наскільки швидко та легко був
            процес викупу мого автомобіля.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
